<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Passion rating:</b>
  <%= @user.passion_rating %>
</p>
<table>
  <tr>
    <th>Description</th>
    <th>Appraised Value</th>
  </tr>
  <% @user.postage_stamps.each do |ps| %>
    <tr>
      <td><%= ps.description %></td>
      <td><%= number_to_currency(ps.appraised_price) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
