<%= form_for(@postage_stamp) do |f| %>
  <% if @postage_stamp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postage_stamp.errors.count, "error") %> prohibited this postage_stamp from being saved:</h2>

      <ul>
      <% @postage_stamp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :original_price %><br />
    <%= f.text_field :original_price %>
  </div>
  <div class="field">
    <%= f.label :appraised_price %><br />
    <%= f.text_field :appraised_price %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :issue_date %><br />
    <%= f.datetime_select :issue_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
